---
import Base from '../layouts/Base.astro';
---
<Base title="About" description="Marketing, content & documentation consultant with 20+ years of experience.">
  <section class="about">
    <h1>About Rachel</h1>
    <ul>
      <li>Marketing, content &amp; documentation consultant</li>
      <li>Expert in GTM strategy, messaging, and technical storytelling</li>
      <li>Passionate about cyber, HR tech, dev tools, emerging tech &amp; more</li>
      <li>Authentic leader successful in building high-performing teams</li>
      <li>Thought leader, writer, and mentor</li>
    </ul>
    <p>With 20+ years of experience writing for companies like Cisco, Snyk, and Pentera, I help brands stand out in their market. My expertise spans writing for developers and executives, crafting docs, microcopy, blog posts, scripts, and more, consulting on content strategy, tools, and methodologies across multiple industries and verticals.</p>
    <a href="https://app.enhancv.com/share/50e871a8/" target="_blank" rel="noopener">View Full CV</a>
  </section>
</Base>
